{% extends 'Post/base.html' %}
{% load static %}

{% block content %}





{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
       <div class="alert bg-warning mt-2 me-2 text-center p-2 fs-4">{{ message }}</div> 
    </div>
    {% endfor %}
</ul>
{% endif %}


<div class="card">
  <div class="card-header bg-transparent">
      <form class="form-inline" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="input-group w-100">
            {{form.text}}
            <div class="input-group-append">
              <div class="input-group-text">
                <label for="file" class="fas fa-camera"></label>
                {{form.file}}
              </div>

              <div class="input-group-text">
                <label for="send" class="fas fa-paper-plane"></label>
                <input type="submit" id="send" hidden>
              </div>

           </div>
          </div>
      </form>
  </div>
  {% for post in object_list %}
    <div class="card-body">
      <div class="media">
        <img src="{% static 'Post/img/avatar-mdo.png' %}" alt="img" class="rounded-circle mr-3" width="55px" height="55px">
        <div class="media-body">
          <h5>{{post.user}}</h5>
            <p class="text-justify">{{post.text}}</p>
            {% if post.image %}
            <a href="" data-lightbox="id"><img src="{{post.image.url}}" alt="" class="img-fluid shadow-sm img-thumbnail">   </a>   
            {% endif %}
            {% if post.video %}
            <video  controls="controls" preload="preload" class="img-fluid shadow-sm img-thumbnail">
              <source src="{{ post.video.url }}" type="video/mp4"></source>
            </video><br>
            {% endif %}
          </div>
        <small class="text-muted">{{post.created|timesince}} ago</small>
      </div>
      
      <a href="{% url 'post:comment' post.text %}"><img class="com-img"  src="{% static 'Post/img/comments-solid.svg' %}" alt="comment"></a> 
    </div>
    <hr>
    <br>
  {% endfor %}

<section>
  <!-- Pagination -->
  {% if is_paginated %}
      <div class="pagination">
        <span class="step-links badge ">
            {% if page_obj.has_previous %}
                <a class="next-pre" style="text-decoration: none;" href="{% url 'post:List' page_obj.previous_page_number %}">previous</a>
            {% endif %}
            <span class="current badge bg-info text-dark page-of">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a class="next-pre" style="text-decoration: none;" href="{% url 'post:List' page_obj.next_page_number %}">next</a>
            {% endif %}
        </span>
    </div>
  {% endif %}
  </section>


{% endblock %}

