{% extends 'Post/base.html' %}
{% load static %}

{% block js_files %}

<script src="{% static 'Post/js/script.js' %}"></script>

{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'auth/profile/style.css' %}">
    
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger text-center mt-3">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger text-center mt-3">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
  
  

  <body>
    <section>
        <div class="name-user">
            <p class="user"> {{object.username}} </p>
            {% if request.user.username != object.username %}
            {% if is_following == False %}
                <button id="following_btn" data-id="{{ user.id }}" class="btn btn-primary button-follow">follow</button>
            {% else %}
                <button id="following_btn" data-id="{{ user.id }}" class="btn btn-warning button-follow">unfollow</button>
            {% endif %}
            <span class="block-report">
                <button class="btn btn-danger block_user">block</button>
                <button class="btn btn-danger block_user">Report</button>
            </span>
            {% endif %}
        </div>

        <div class="info-user">
            <div class="all-info">
                <div class="x-info">
                    <label for="">Following </label>
                    <div>{{following}}</div>
                </div>
                <div class="x-info">
                    <label for="">Follower</label>
                    <div>{{follower}}</div>
                </div>
                <div class="x-info">
                    <label for="">Post</label>
                    <div>{{count_post}}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="post_user_all">
        <div class="all_post">
            {% for post in post %}
            <div class="post">
                <h1 class="user_posted">{{post.user}}</h1>
                <hr>
                <p class="text_post">
                    {{post.text}}
                </p>
                <small>{{post.created}}</small>
            </div>
            {% endfor %}
        </div>
    </section>
    
</body>

{% endblock %}
</html>